ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($request_uri ~* "^/cms/(.*)") {
        rewrite ^/cms/(.*) /$1 break;
      }
  hosts:
    - paths:
        - path: /cms/
          pathType: Prefix
imagePullSecrets:
  - name: regels-overheid-nl
uploadsPersistence:
  enabled: true
configSecretName: cms
