services:
  cms:
    depends_on:
      - postgres
    restart: always
    build:
      context: .
      dockerfile: apps/cms/dockerfile.dev
    volumes:
      - ./apps/cms:/code/apps/cms
      - /code/apps/cms/node_modules
      - /code/node_modules
    ports:
      - 9001:9001
    environment:
      - ADMIN_JWT_SECRET=admin-jwt-secret
      - API_TOKEN_SALT=token-salt
      - APP_KEYS=a,b,c
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=strapi
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
      - DATABASE_SSL=false
      - JWT_SECRET=jwt-secret
      - PUBLIC_URL=http://cms.localhost
  docs:
    restart: always
    build:
      context: .
      dockerfile: apps/docs/dockerfile.dev
    volumes:
      - /code/apps/docs/node_modules
    ports:
      - 9002:9002
  web:
    restart: always
    depends_on:
      - cms
    build:
      context: .
      dockerfile: apps/web/dockerfile.dev
    volumes:
      - ./apps/web:/code/apps/web
      - /code/apps/web/node_modules
      - /code/node_modules
    ports:
      - 9000:9000
    environment:
      - CMS_API=http://host.docker.internal:9001/api
    extra_hosts:
      - host.docker.internal:host-gateway
  nginx:
    restart: always
    ports:
      - 80:80
    build:
      context: ./apps/nginx
      dockerfile: dockerfile.dev
  postgres:
    image: postgres:14.5
    container_name: postgres_dev
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=strapi
    ports:
      - 5433:5432
volumes:
  pgdata:
