/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: 'RO Sans';
  font-weight: normal;
  font-style: normal;
  src:
    url('../../static/webfonts/ROsanswebtextregular.woff') format('woff'),
    url('../../static/webfonts/ROsanswebtextregular.ttf') format('truetype'),
    url('../../static/webfonts/ROsanswebtextregular.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'RO Sans';
  font-weight: normal;
  font-style: italic;
  src:
    url('../../static/webfonts/ROsanswebtextitalic.woff') format('woff'),
    url('../../static/webfonts/ROsanswebtextitalic.ttf') format('truetype'),
    url('../../static/webfonts/ROsanswebtextitalic.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'RO Sans';
  font-weight: bold;
  font-style: normal;
  src:
    url('../../static/webfonts/ROsanswebtextbold.woff') format('woff'),
    url('../../static/webfonts/ROsanswebtextbold.ttf') format('truetype'),
    url('../../static/webfonts/ROsanswebtextbold.eot') format('embedded-opentype');
}

:root {
  --ifm-font-family-base: 'RO Sans', sans-serif;
  --ifm-color-primary: #01689b;
  --ifm-color-primary-dark: #007bc7;
  --ifm-color-primary-darker: #007bc7;
  --ifm-color-primary-darkest: #01689b;
  --ifm-color-primary-light: #8fcae7;
  --ifm-color-primary-lighter: #b3d7ee;
  --ifm-color-primary-lightest: #d9ebf7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

#__docusaurus {
  overflow-x: hidden;
}

.footer {
  background-color: #e5f1f9;
}

.footer__copyright {
  display: none;
}
